<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481127102779-i90dj9aalualstopctgc57996h861906.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481127102779-i90dj9aalualstopctgc57996h861906</string>
	<key>API_KEY</key>
	<string>AIzaSyChZ9a5pBWjAvNJiPc0S5qEMC1dgs6PT4A</string>
	<key>GCM_SENDER_ID</key>
	<string>481127102779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthProvider.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fb-statenf-auth-815</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-statenf-auth-815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481127102779:ios:d23b9f2b8f8140937f1f1e</string>
</dict>
</plist>